.root {
    -st-states: focused, selected;
    display: flex;
    justify-content: space-between;
    color: gray;
}

:vars {
    focusedBkg: rgb(173, 216, 230)
}

.root:focused {
    background: value(focusedBkg);
}

.root:selected {
    color: black;
}

.text {}

.root:selected .itemText {
    color: white;
}

.icon {
    aspect-ratio: 1/1;
    height: 1.5em
}
