@st-import CirclePreloader from "../preloader/variants/circle-preloader.st.css";
@st-import Btn from "../button/button.st.css";
@st-import Icon from "../icons/icon.st.css";
@st-import [cancel,
emphasis] from "../button/variants.st.css";
@st-import Area from "../area/area.st.css";
@st-import [floating] from "../area/variants.st.css";
@st-import [popover,
scrollListRoot] from "../auto-complete/auto-complete.st.css";


:vars {
    primary: #000624;
    secondary: white;
    outlines: #e7eaff;
    primaryFocused: #6a6ae7;
    primaryCancel: rgb(79, 79, 153);
    secondaryDisabled: rgb(207, 194, 194);
    secondaryEmphasis: rgb(228, 181, 94);
    primaryEmphasis: purple;

}

@st-scope .white {
    .CirclePreloader::inner {
        border-top: 2px solid value(outlines);
        border-right: 2px solid value(outlines);
        box-shadow: -0.28px 3.99px 2px 4px #e7eaff, -3.28px -2.29px 11px -3px #96ECEA;
        margin-bottom: 14px;
    }

    .Btn {
        cursor: pointer;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        user-select: none;
        -webkit-font-smoothing: antialiased;
        white-space: nowrap;
        padding: 5px 11px;
        min-width: 80px;
        border-radius: 4px;
        border: 1px solid value(outlines);
        color: value(primary);
        background: white;
    }

    .Btn:hover {
        color: value(primaryFocused);
    }

    .cancel {
        color: value(primaryCancel);
        background: value(secondaryDisabled);
    }

    .emphasis {
        color: value(primaryEmphasis);
        background: value(secondaryEmphasis);
    }

    .Btn .icon {
        aspect-ratio: 1/1;
        height: 1rem;
        padding-inline-end: 5px;
    }

    .Area {
        background: white;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid value(outlines);
    }


    .scrollListRoot {
        scrollbar-width: thin;
        scrollbar-color: gray lightgray;
        scrollbar-gutter: stable;
        box-shadow: 1.41px 1.41px 2px 1px #0006242d;
        margin-left: -2px;
        margin-right: 2px;
        max-height: 30vh;
    }

    .scrollListRoot::-webkit-scrollbar {
        width: 11px;
        background: lightgray;
    }


    .scrollListRoot::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 3px;
    }

    .popover {
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 4px;

    }
}
