@st-import CirclePreloader from "../preloader/variants/circle-preloader.st.css";

.white {}

.white .CirclePreloader::inner {
    border-top: 2px solid blue;
    border-right: 2px solid blue;
    box-shadow: -3.28px -2.29px 11px -3px #96ECEA;
    margin-bottom: 14px;
}