@st-import CirclePreloader from "../preloader/variants/circle-preloader.st.css";
@st-import Btn from "../button/button.st.css";
@st-import Icon from "../icons/icon.st.css";
@st-import [small] from "../icons/variants.st.css";
@st-import [cancel, emphasis] from "../button/variants.st.css";
@st-import Area from "../area/area.st.css";
@st-import [floating] from "../area/variants.st.css";
@st-import ScrollList from "../scroll-list/scroll-list.st.css";
@st-import InputWithClear from "../input-with-clear/input-with-clear.st.css";
@st-import [primary-2, primary-3, primary-4, primary-7, reference-1, notification-warning-1, primary-6, primary-0, primary-5] from "./colors.st.css";

@st-scope .white {
    .CirclePreloader::inner {
        border-top: 2px solid value(primary-2);
        border-right: 2px solid value(primary-2);
        box-shadow: -0.28px 3.99px 2px 4px #e7eaff, -3.28px -2.29px 11px -3px #96ecea;
        margin-bottom: 14px;
    }

    .Btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        user-select: none;
        -webkit-font-smoothing: antialiased;
        white-space: nowrap;
        padding: 5px 11px;
        min-width: 80px;
        border-radius: 4px;
        border: 1px solid value(primary-2);
        color: value(primary-7);
        background: white;
        font-size: 18px;
    }

    .Btn:hover {
        color: value(primary-6);
    }

    .cancel {
        color: value(primary-0);
        background: value(primary-5);
    }

    .emphasis {
        color: value(reference-1);
        background: value(notification-warning-1);
    }

    .Btn .icon {
        aspect-ratio: 1/1;
        height: 1rem;
        padding-inline-end: 5px;
    }

    .Area {
        background: white;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid value(primary-2);
    }


    .ScrollList {
        scrollbar-width: thin;
        scrollbar-color: gray lightgray;
        scrollbar-gutter: stable;
        box-shadow: 1.41px 1.41px 2px 1px #0006242d;
        margin-left: -2px;
        margin-right: 2px;
    }

    .ScrollList::-webkit-scrollbar {
        width: 11px;
        background: lightgray;
    }


    .ScrollList::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 3px;
    }

    .InputWithClear::clear {
        -st-mixin: small;
    }

}
