@st-import [small] from "../../icons/variants.st.css";
@st-import Icon from "../../icons/icon.st.css";

.root {
    -st-states: focused, selected, open;
    --indent: 0;
    display: flex;
    padding: 8px;
    padding-left: calc(var(--indent) * 8px);
    height: 24px;
    user-select: none;
    outline: none;
    cursor: pointer;
    border-radius: 12px;
    align-items: center;
    margin: 4px 0px;
    transition: background .1s;
}

.root:hover:not(:selected) {
    color: purple;
    background: gainsboro;
}
.root:focused {
    color: royalblue;

    &:not(:selected) {
        background: gainsboro;
    }
}

.root:selected {
    background: powderblue;
}

.root:open .chevron {
    transform: rotate(90deg);
}

.text {}

.root:selected .itemText {
    color: white;
}


.chevron {
    -st-extends: Icon;
    -st-mixin: small;
}