@st-import [small] from "../../icons/variants.st.css";
@st-import Icon from "../../icons/icon.st.css";

.root {
    -st-states: focused, selected, open, lane;
    --indent: 0;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-left: calc(var(--indent) * 8px)
}

.root:lane {
    background: orange;
    color: white
}

.lane {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    background: orange;
}

.root:focused {
    color: blue
}

.root:selected {
    text-decoration: underline;
}

.root:open .chevron {
    transform: rotate(90deg);
}

.text {}

.root:selected .itemText {
    color: white;
}


.chevron {
    -st-extends: Icon;
    -st-mixin: small;
}
