@st-import Area from "../area/area.st.css";
@st-import [floating] from "../area/variants.st.css";

.root {}

.input {}

.popover {
  overflow: hidden;
}


.scrollListRoot {
  -st-extends: floating;
  overflow-x: hidden;
  overflow-y: auto;
}
