@st-import Area from "../area/area.st.css";
@st-import [floating] from "../area/variants.st.css";
@st-import ScrollList  from "../scroll-list/scroll-list.st.css";

.root {

}

.input {

}

.popover {
    overflow: hidden;
}

.scrollListRoot {
    -st-extends: floating, ScrollList;

    overflow-x: hidden;
    overflow-y: auto;
}
