@st-import [small] from "../../icons/variants.st.css";
@st-import Icon from "../../icons/icon.st.css";

.root {
    -st-states: focused, selected, open;
    --indent: 0;
    display: flex;
    margin-left: calc(var(--indent) * 8px)
}

.root:focused {
    color: blue
}

.root:selected {
    text-decoration: underline;
}

.root:open .chevron {
    transform: rotate(90deg);
}

.text {}

.root:selected .itemText {
    color: white;
}


.chevron {
    -st-extends: Icon;
    -st-mixin: small;
}

.icon {
    -st-mixin: small;
    position: relative;
    margin-right: 3px;
}

.elementIcon {
    position: absolute;
    height: 50%;
    width: 50%;
    top: 25%;
    left: 25%;
    border: 1px solid black;
    border-radius: 3px;
}
