
@st-import Preloader  from "../preloader.st.css";

.root {
    -st-extends: Preloader;
    padding: 25%;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

::inner {
    height: 100%;
    width: 100%;

    border-radius: 50%;
    animation: autoProgress 1s infinite;
    animation-timing-function: linear;
}


@keyframes autoProgress {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}
