.root {
    -st-states: focused, selected;
    display: flex;
    justify-content: space-between;
}

.root:focused {
    color: blue
}

.root:selected {
    background: blue;
}

.text {}

.root:selected .itemText {
    color: white;
}

.icon {
    aspect-ratio: 1/1;
    height: 1.5em
}